<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="no-js">

	{% include tpl.head %}

	<body>

		{% include tpl.loadMask %}

		{% include tpl.drawerR %}
	
		<div id="content" class="snap-content">

			{% include tpl.navBar %}

			{% block content %}

				{# Content inserts here #}

			{% endblock %}

		</div>

		{% include tpl.drawerL %}

		{% block javascripts %}

			{{ js("snap") }}
			{{ coreJS("scrollreveal") }}

		{% endblock javascripts %}

		{% block deferedJS %}

			{{ deferJS("theme") }}

		{% endblock deferedJS %}

		{% block scripts %}

		<script type="text/javascript">

			window.onload=function() {
				document.getElementById('loading-mask').style.display='none';
				window.sr = new scrollReveal();
			};

		</script>

		{% endblock scripts %}

	</body>

</html>